<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kapsu Tea - feedback</title>
</head>
<body>
	<h2>KASPU TEA SHOP</h2>

	<h5>Thank you for purchasing our products, your feedback helps us improve our services</h5>
	<br>
	<p>Which Brand of our made teas did you purchase?</p>
	<br>
	<form action="" method="post">
		<label for="teas"> select the brand</label>
		<select name="tea" id="tea">
			<option value="Black">Black</option>
			<option value="Green">Green</option>
			<option value="Black">Purple</option>
		</select>
		<br>
		<input type="submit" value="Send">
	</form>


</body>
</html>