<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kapsu Chai - feedback</title>
</head>
<body>
	<h2>KASPU TEA SHOP</h2>

	<p>Which Brand of our tea did you purchase?</p>
	<br>

	<form action="" method="post">
		Name :
		<input type="text" name="username" id="username">
		<br>
		<br>
		Thank you for purchasing our products,your feedback helps us improve our services
		<br>
		<br>
		<textarea name="message" id="" cols="30" rows="7">

		</textarea>
		<br>
		<input type="submit" value="Send">
	</form>


</body>
</html>